In [1]:
import pandas as pd
import numpy as np 
import os

TASK 1: MERGE 12 months of data into a single csv

In [23]:
#Getting all file name in folder
myfiles = [file for file in os.listdir("Sales_Data")]


finalDF = pd.DataFrame()
#Append all data in to finalDF
for file in myfiles:
    df = pd.read_csv("Sales_Data/"+ file)
    finalDF = finalDF.append(df)

finalDF.to_csv("finalData.csv", index=False)

Read Output data

In [80]:
df = pd.read_csv("finalData.csv")

### Clean Data

In [81]:
#REMOVE MISSING VALUE
df = df.dropna()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186305 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [83]:
df["Month"] = df["Order Date"].str[0:2]
#DROP OR 
df = df[df.Month != 'Or']

In [106]:
#CAST MONTH COLUMNS INTO INT
df["Month"] = df["Month"].astype("int")
df["Quantity Ordered"] = df["Quantity Ordered"].astype("int")
df["Price Each"] = df["Price Each"].astype("float")
#SORT VALUE
df = df.sort_values("Month")
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Month
69397,142996,AAA Batteries (4-pack),1,2.99,01/01/19 21:01,"402 Chestnut St, Boston, MA 02215",1
70773,144300,Apple Airpods Headphones,1,150.00,01/11/19 14:22,"532 River St, San Francisco, CA 94016",1
70772,144299,27in 4K Gaming Monitor,1,389.99,01/31/19 19:57,"942 North St, San Francisco, CA 94016",1
70771,144298,Lightning Charging Cable,1,14.95,01/13/19 12:00,"709 North St, Los Angeles, CA 90001",1
70770,144297,Flatscreen TV,1,300.00,01/21/19 14:37,"437 Madison St, Atlanta, GA 30301",1

#ADD SALES DATA

In [111]:
df["Sales"] = df["Quantity Ordered"] * df["Price Each"]
df.describe()

       Quantity Ordered     Price Each          Month          Sales
count     185950.000000  185950.000000  185950.000000  185950.000000
mean           1.124383     184.399735       7.059140     185.490917
std            0.442793     332.731330       3.502996     332.919771
min            1.000000       2.990000       1.000000       2.990000
25%            1.000000      11.950000       4.000000      11.950000
50%            1.000000      14.950000       7.000000      14.950000
75%            1.000000     150.000000      10.000000     150.000000
max            9.000000    1700.000000      12.000000    3400.000000

### MONTH WITH MOST SALES

KeyError: 1